[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Hips
Spine
Upper_arm_L
Lower_arm_L
Wrist_L
Claw_front_L
Claw_back_L
Upper_arm_R
Lower_arm_R
Wrist_R
Claw_front_R
Claw_back_R
Item
Leg_01_L
Leg_02_L
Leg_01_R
Leg_02_R
Neck
Head

[RemoveTracks]
Character_Walk_Left.18=all
Character_Walk_Left.19=all
